{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2">
      {% include "default_filter_form.html" %}
    </div>
    <div class="col-sm-10">
      <div class="panel panel-default">
        <div class="panel-heading"><strong>
            <center><h2><p><em> Lista wydania towarów</em></p></h2></center>
          </strong></div>
          <div class="panel-body">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th style="text-align: center">Lp.</th>
                  <th style="text-align: center">Produkt</th>
                  <th style="text-align: center">Ilość</th>
                  <th style="text-align: center">Wydający / Data</th>
                </tr>
              </thead>
              <tbody>
                {% for i in object_list %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td style="width: 30%">
                    {% if i.obraz %}
                    <img class="produkt" src="{{ i..magazyn.produkt.obraz.url }}">
                    {% endif %}
                    {{ i.magazyn.produkt }}
                  </td>
                  <td>{{ i.ilosc }}</td>
                  <td>{{ i.kto }} <br> {{ i.kiedy }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
